.content {
    font-size: 32px;
    margin: 0 3%;
    flex-basis: 26%;
}

.content img {
    width: 100%;
    height: auto;
}

.content h2 {
    font-size: 18px;
    color: #fff;
    text-align: left;
    font-weight: 300;
    margin: 10px 0 40px;
}