.contents {
    display: block;
    float: left;
    margin: 0 auto;
    color: #fff;
    text-align: left;
    font-size: 36px;
}

.container {
    margin: 0 3.29% auto;
    display: flex;
    flex-wrap: wrap;
}

.loader {
    display: none;
}